.advantage {
  @include text(16px, 26px, $sedona-white);
  position: relative;

  padding: 30px 20px 30px 20px;

  background-color: $sedona-blue;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 30px 40px 30px 40px;

    &:not(.advantage--grey):nth-child(2n + 1) {
      grid-area: desc-1;
    }

    &:not(.advantage--grey):nth-child(2n) {
      grid-area: desc-2;
    }
  }
}

.advantage--grey {
  color: $sedona-text;
  background-color: $sedona-lightgrey;

  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 50%;

    width: 90%;
    height: 1px;
    background-color: $sedona-grey;

    transform: translateX(-50%);
  }

  &:last-of-type {
    &::after {
      display: none;
    }
  }
  @media (min-width: $tablet) {
    max-height: 260px;
    padding: 30px 50px 30px 50px;

    &::after {
      display: none;
    }
  }
}

.advantage__title {
  margin: 0 0 10px 0;
}

.advantage__text {
  margin: 10px 0 0 0;

  font-size: 14px;
}
