.description-photo-container {
  width: 100%;
  height: 260px;

  overflow: hidden;
  position: relative;
}

.description-photo-container__image {
  position: absolute;
  top: 0px;
  left: 0;

  width: 100%;
  height: 100%;
}
