.input-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 20px 20px;

  @media (min-width: $tablet) {
    margin: 20px 40px 20px 40px;
  }
}

.input-container--contact {
  position: relative;

  flex-wrap: wrap;

  margin-bottom: 50px;

  &::before {
    content: "";

    position: absolute;
    top: 36px;
    right: 0px;

    width: 58px;
    height: 58px;

    background-color: $sedona-input--icon;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    flex-wrap: nowrap;

    &::before {
      top: 10px;
    }
  }
}

.input-container--phone,
.input-container--mail {
  &::after {
    content: "";

    position: absolute;
    top: 56px;
    right: 18px;

    width: 20px;
    height: 20px;

    background-position: 0 0;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop) {
    &::after {
      top: 30px;
    }
  }
}

.input-container--phone {
  &::after {
    background-image: url('../image/phone.svg');
  }
}

.input-container--mail {
  &::after {
    background-image: url('../image/mail.svg');
  }
}

.input-container--choice {
  justify-content: flex-start;
}

.input-container--impression {
  @media (min-width: $tablet) {
    margin-top: 30px;
  }
}

.input-container__label {
  @include text(14px, 26px, $sedona-text);

  position: relative;

  align-self: center;

  margin: 0 15px 0 0;
}

.input-container__label--contact {
  position: relative;

  margin: 0 0 0 20px;

  @media (min-width: $desktop) {
    margin: 0 20px 0 0;
  }
}

.input-container__label--choice {
  @include text(18px, 26px, $sedona-text);

  order: 2;

  margin: 0;

  font-weight: bold;
  text-transform: none;
}

.input-container__input {
  @include text(18px, 26px, $sedona-text);

  display: block;

  max-height: 58px;
  border: none;
  padding: 16px 20px 16px 20px;

  background-color: $sedona-bg;
  font-weight: bold;

  &:hover {
    transition: background-color 0.2s;

    background-color: $sedona-input--hover;
  }
}

.input-container__input--contact,
.input-container__input--textarea,
.input-container__input--name {
  width: 100%;

  &:focus {
    outline: 4px solid $sedona-input--hover;
    background-color: $sedona-white;
  }
}

.input-container__input--contact {
  margin: 10px 0 0 0;
  padding-right: 65px;
}

.input-container__input--choice {
  order: 1;

  margin-right: 30px;
}

.input-container__input--textarea {
  width: 100%;
  max-height: 160px;
  height: 160px;

  resize: none;
}

.input-container__input--radio,
.input-container__input--checkbox {
  opacity: 0;
}

.input-container__label--radio {
  position: relative;

  margin-bottom: 30px;

  &::before {
    content: "";

    position: absolute;
    top: -5px;
    left: -50px;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: $sedona-bg;
  }

  &::after {
    content: "";

    position: absolute;
    top: 7px;
    left: -37px;

    width: 15px;
    height: 15px;
    border-radius: 50%;

    background-color: $sedona-text;
  }
}

.input-container__label--checkbox {
  position: relative;

  margin-bottom: 15px;

  &::before {
    content: "";

    position: absolute;
    top: -5px;
    left: -50px;

    width: 40px;
    height: 40px;

    border-radius: 10%;
    background-color: $sedona-bg;
  }

  &::after {
    content: "";

    position: absolute;
    top: 5px;
    left: -34px;

    height: 12px;
    width: 7px;

    border-right: 3px solid;
    border-bottom: 3px solid;
    border-radius: 10%;

    transform: rotate(45deg);
  }
}

.input-container__input--radio:hover + .input-container__label--radio::before,
.input-container__input--checkbox:hover + .input-container__label--checkbox::before {
  transition: background-color 0.2s;
  background-color: $sedona-input--hover;
}

.input-container__input--radio + .input-container__label--radio::after,
.input-container__input--checkbox + .input-container__label--checkbox::after {
  content: none;
}

.input-container__input--radio:checked + .input-container__label--radio::after,
.input-container__input--checkbox:checked + .input-container__label--checkbox::after {
  content: "";
}

.input-container__error {
  @include text(14px, 26px, $sedona-error);


  position: absolute;
  height: 30px;
  bottom: -40px;
  left: 20px;

  text-transform: none;
  display: none;

  @media (min-width: $tablet) {
    top: 0;
    left: 69%;
  }
  @media (min-width: $desktop) {
    top: -20px;
    left: 140px;
  }
}

.input-container__input--contact[type="tel"]:invalid + .input-container__error--phone{
  display: block;
}

.input-container__input--contact[type="email"]:invalid + .input-container__error--mail{
  display: block;
}

.input-container__help {
  @include text(14px, 26px, $sedona-text);

  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}

.input-container--attraction {

  &:nth-child(2n) {
    @media (min-width: $tablet) and (max-width: $desktop - 1) {
      margin-left: 150px;
    }
  }

  @media (min-width: $desktop) {
    margin-left: 0;
    margin: 20px 35px 20px 35px;
  }
}

.input-container--button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
