.main-footer {
  @include text(14px, 26px, $sedona-text);

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-around;

    margin: 35px 0 35px 0;
  }
}

.main-footer__tag {
  margin: 25px 0 0 0;

  font-weight: bold;
  font-size: 21px;

  @media (min-width: $tablet) {
    margin-top: 0;
  }
}

.main-footer__list {
  margin: 35px 0 0 0;

  @media (min-width: $tablet) {
    margin-top: 0;
  }
}

.main-footer__author {
  position: relative;
  display: inline-block;
  margin: 35px 35px 20px 0;

  color: $sedona-text;
  text-decoration: none;

    &:hover,
    &:focus {
      transition:
        color 0.3s,
        fill 0.3s;
      color: $sedona-blue;
      fill: $sedona-blue
    }

  @media (min-width: $tablet) {
    margin: 0 35px 0 0;
  }
}

.main-footer__icon {
  position: absolute;
  top: -5px;
  right: -35px;
}
