.nav-list {
  @include list-reset();

  display: flex;
  flex-direction: column;

  margin: 0;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.nav-list__item {
  order: 1;
}

.nav-list__item--logo {
  order: 2;

  @media (min-width: $tablet) {
    order: 1;
  }
}
