$mobile: 640px;
$tablet: 768px;
$desktop: 1200px;

$sedona-blue: #81b3d2;
$sedona-blue--hover: #669ec0;
$sedona-blue--dwn: #5496bd;
$sedona-white: #ffffff;
$sedona-title: #000000;
$sedona-text: #333333;
$sedona-lightgrey: #eeeeee;
$sedona-grey: #d6d6d6;

$menu__border--bottom: #678fa8;
$menu__border--bottom--hover: #86b2cd;
$menu__border--top: #9ac2db;
