.page {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif; }
  @media (min-width: 1200px) {
    .page {
      padding: 0 5% 0 5%;
      background-color: #f2f2f2; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

@media (min-width: 1200px) {
  .main-page {
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 2px #d6d6d6; } }

@media (min-width: 1200px) {
  .main-header {
    box-shadow: 0px 0px 5px 2px #d6d6d6; } }

.nav-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0; }
  @media (min-width: 768px) {
    .nav-list {
      flex-direction: row;
      justify-content: space-around; } }

.nav-list__item {
  order: 1; }

.nav-list__item--logo {
  order: 2; }
  @media (min-width: 768px) {
    .nav-list__item--logo {
      order: 1; } }

.nav-item {
  max-height: 60px;
  box-sizing: border-box;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  background-color: #81b3d2;
  text-align: center; }
  @media (min-width: 768px) {
    .nav-item {
      width: 20%;
      border: none;
      background-color: #ffffff; }
      .nav-item:not(.nav-item--logo) {
        display: flex;
        flex-direction: column;
        justify-content: center; } }
  .nav-item:first-child {
    position: relative;
    border-top-color: #81b3d2; }
  @media (max-width: 767px) {
    .nav-item:last-of-type {
      box-shadow: 0px -2px 5px -2px #565353a1 inset; } }
  .nav-item:not(.nav-list__item--logo):hover, .nav-item:not(.nav-list__item--logo):focus {
    transition: background-color 0.3s; }
    @media (max-width: 767px) {
      .nav-item:not(.nav-list__item--logo):hover, .nav-item:not(.nav-list__item--logo):focus {
        background-color: #669ec0;
        border-top-color: #86b2cd; } }
    @media (min-width: 768px) {
      .nav-item:not(.nav-list__item--logo):hover, .nav-item:not(.nav-list__item--logo):focus {
        color: #81b3d2; } }

.nav-item--logo {
  position: relative;
  border: none;
  z-index: 3; }
  @media (max-width: 767px) {
    .nav-item--logo {
      background-color: transparent; } }
  @media (min-width: 1200px) {
    .nav-item--logo::before {
      content: "";
      position: absolute;
      top: -70px;
      left: 50%;
      width: 140px;
      height: 140px;
      border-bottom-right-radius: 8%;
      z-index: -1;
      background-color: #81b3d2;
      transform: translateX(-50%) rotate(45deg); } }

.nav-item__link {
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
  padding: 10px 0 10px 0;
  font-weight: bold;
  text-decoration: none; }
  @media (min-width: 768px) {
    .nav-item__link {
      font-size: 14px;
      line-height: 26px;
      color: #333333; }
      .nav-item__link:hover, .nav-item__link:focus {
        transition: color 0.3s;
        color: #81b3d2; } }

@media (min-width: 768px) {
  .nav-item__link--active {
    color: #766357; }
    .nav-item__link--active:hover, .nav-item__link--active:focus {
      transition: color 0.3s;
      color: #604e43; } }

.nav-item__button {
  position: absolute;
  top: 50%;
  right: 20px; }

.intro {
  position: relative;
  background-image: url("../image/mountains.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  text-align: center;
  z-index: 1; }

.intro--main {
  background-position: 50% 35%; }

.intro__image {
  width: 90%;
  max-width: 400px;
  height: auto;
  padding: 0px 5% 0px 5%;
  z-index: 1; }

.intro__image--main {
  padding: 65px 5% 85px 5%; }

.intro__border {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  background-image: url("../image/svg/border.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  transform: translateX(-50%);
  z-index: 2; }
  @media (min-width: 768px) {
    .intro__border {
      height: 55px; } }

.tagline {
  font-size: 11px;
  line-height: 26px;
  color: #333333;
  position: relative;
  padding: 0 15px 0 15px;
  text-align: center; }
  @media (min-width: 768px) {
    .tagline {
      padding: 0 100px 0 100px; } }
  @media (min-width: 1200px) {
    .tagline {
      padding: 0 20% 0 20%; } }

.tagline__title {
  margin: 35px 0px 20px 0px;
  font-size: 17px;
  color: #000000; }

.tagline__text {
  font-size: 14px; }

.descriptions-list {
  position: relative;
  display: grid; }
  @media (max-width: 767px) {
    .descriptions-list::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      border-top: 50px solid #ffffff;
      border-right: 400px solid transparent;
      border-left: 400px solid transparent;
      border-bottom: 0px solid #ffffff;
      transform: translateX(-50%);
      z-index: 2; } }
  @media (min-width: 768px) {
    .descriptions-list {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "desc-1 img-1 img-1" "guide guide guide" "img-2 img-2 desc-2" "adv adv adv";
      margin: 40px 0 0 0; } }

@media (max-width: 767px) {
  .descriptions-list__item:first-child {
    padding-top: 90px; } }

.advantage {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  position: relative;
  padding: 30px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #81b3d2;
  text-align: center; }
  @media (min-width: 768px) {
    .advantage {
      padding: 0 40px 0 40px; }
      .advantage:not(.advantage--grey):nth-child(2n + 1) {
        grid-area: desc-1; }
      .advantage:not(.advantage--grey):nth-child(2n) {
        grid-area: desc-2; } }

.advantage--grey {
  color: #333333;
  background-color: #eeeeee; }
  .advantage--grey::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 90%;
    height: 1px;
    background-color: #d6d6d6;
    transform: translateX(-50%); }
  .advantage--grey:last-of-type::after {
    display: none; }
  @media (min-width: 768px) {
    .advantage--grey {
      height: 260px;
      padding: 0 50px 0 50px; }
      .advantage--grey::after {
        display: none; } }

.advantage__title {
  margin: 0 0 10px 0; }

.advantage__text {
  margin: 10px 0 0 0;
  font-size: 14px; }

@media (min-width: 768px) {
  .guide {
    grid-area: guide; } }

.guide-list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template: 1fr / 1fr;
  margin: 30px 0 30px 0; }
  @media (min-width: 768px) {
    .guide-list {
      grid-template: 1fr / 1fr 1fr 1fr;
      margin: 120px 0 60px 0; } }

.guide-list__item:nth-child(2) {
  order: 1; }
  @media (min-width: 768px) {
    .guide-list__item:nth-child(2) {
      order: 0; } }

.guide-item {
  font-size: 16px;
  line-height: 26px;
  color: #333333;
  display: flex;
  flex-direction: column;
  padding: 0 40px 0 70px; }
  @media (min-width: 768px) {
    .guide-item {
      align-items: center;
      padding: 0 40px 0 40px;
      text-align: center; } }

.guide-item__title {
  position: relative;
  margin: 20px 0 15px 0;
  color: #000000; }
  .guide-item__title::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -50px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 0 0; }
    @media (min-width: 768px) {
      .guide-item__title::before {
        top: -100px;
        left: 50%;
        width: 80px;
        height: 80px;
        transform: translateX(-50%); } }

.guide-item__title--house::before {
  background-image: url("../image/house-icon.svg"); }

.guide-item__title--food::before {
  background-image: url("../image/food-icon.svg"); }

.guide-item__title--souvenir::before {
  background-image: url("../image/souvenir-icon.svg"); }

.guide-item__text {
  margin: 0;
  font-size: 14px; }

.advantages-list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template: 1fr / 1fr;
  margin: 0; }
  @media (min-width: 768px) {
    .advantages-list {
      grid-template: 1fr / 1fr 1fr 1fr; } }

.description-photo-container {
  width: 100%;
  height: 260px;
  overflow: hidden;
  position: relative; }
  @media (min-width: 768px) {
    .description-photo-container:nth-child(2n) {
      grid-area: img-1; }
    .description-photo-container:nth-child(2n + 1) {
      grid-area: img-2; } }

.description-photo-container__image {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  min-height: 260px;
  height: auto; }

@media (min-width: 768px) {
  .description {
    grid-area: adv; } }

.hotel {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px 0 15px;
  text-align: center; }

.hotel__title {
  margin: 50px 0 20px 0;
  color: #000000;
  font-size: 16px; }
  @media (min-width: 768px) {
    .hotel__title {
      font-size: 24px; } }

.hotel__text {
  margin: 0 0 25px 0; }
  @media (min-width: 768px) {
    .hotel__text {
      padding: 0 20% 0 20%; } }

.hotel__input {
  margin-bottom: 50px; }

.button {
  display: block;
  border: none;
  cursor: pointer;
  background-color: #81b3d2;
  text-align: center;
  text-transform: uppercase; }

.button--hotel {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  max-width: 460px;
  max-height: 60px;
  padding: 15px 30px 15px 30px; }
  .button--hotel:hover, .button--hotel:focus {
    transition: background-color 0.5s;
    background-color: #669ec0; }
  @media (min-width: 768px) {
    .button--hotel {
      width: 460px; } }

.button--form {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  width: 100%;
  max-height: 60px;
  padding: 15px 30px 15px 30px; }
  .button--form:hover, .button--form:focus {
    transition: background-color 0.5s;
    background-color: #669ec0; }
  @media (min-width: 768px) {
    .button--form {
      width: 325px; } }

.button--close {
  width: 23px;
  background-color: transparent; }
  .button--close::after, .button--close::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 5px;
    background-color: white; }
  .button--close::after {
    transform: rotate(45deg); }
  .button--close::before {
    transform: rotate(-45deg); }
  @media (min-width: 768px) {
    .button--close {
      display: none; } }

.button--menu {
  width: 23px;
  height: 21px;
  transform: translateY(-50%);
  background-image: linear-gradient(#81b3d2 0%, #81b3d2 20%, #ffffff 20%, #ffffff 40%, #81b3d2 40%, #81b3d2 60%, #ffffff 60%, #ffffff 80%, #81b3d2 80%, #81b3d2 100%); }
  .button--menu:hover, .button--menu:focus {
    background-image: linear-gradient(#669ec0 0%, #669ec0 20%, #ffffff 20%, #ffffff 40%, #669ec0 40%, #669ec0 60%, #ffffff 60%, #ffffff 80%, #669ec0 80%, #669ec0 100%); }
  @media (min-width: 768px) {
    .button--menu {
      display: none; } }

.map {
  width: 100%; }

.map__source {
  width: 100%;
  height: 350px; }

.main-footer {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff; }
  @media (min-width: 768px) {
    .main-footer {
      flex-direction: row;
      justify-content: space-between;
      padding: 35px 40px 35px 40px; } }
  @media (min-width: 1200px) {
    .main-footer {
      box-shadow: 0px 7px 5px 2px #d6d6d6; } }

.main-footer__tag {
  margin: 25px 0 0 0;
  font-weight: bold;
  font-size: 21px; }
  @media (min-width: 768px) {
    .main-footer__tag {
      margin-top: 0; } }

.main-footer__list {
  margin: 35px 0 0 0; }
  @media (min-width: 768px) {
    .main-footer__list {
      margin-top: 0; } }

.main-footer__author {
  position: relative;
  display: inline-block;
  margin: 35px 35px 20px 0;
  color: #333333;
  text-decoration: none; }
  .main-footer__author:hover, .main-footer__author:focus {
    transition: color 0.3s, fill 0.3s;
    color: #81b3d2;
    fill: #81b3d2; }
  @media (min-width: 768px) {
    .main-footer__author {
      margin: 0 35px 0 0; } }

.main-footer__icon {
  position: absolute;
  top: -5px;
  right: -35px; }

.social-list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 150px; }

.social-link {
  display: block;
  position: relative;
  width: 46px;
  height: 48px;
  color: #ffffff;
  background-color: #81b3d2; }
  .social-link:hover, .social-link:focus {
    transition: background-color 0.3s;
    background-color: #669ec0; }

.social-link__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.photo-section {
  display: grid;
  grid-template: 1fr / 1fr;
  padding: 0 20px 0 20px; }
  @media (min-width: 768px) {
    .photo-section {
      grid-template: 1fr 1fr / 1fr 1fr;
      grid-template-areas: "main-photo main-photo";
      padding: 0 40px 0 40px; } }
  @media (min-width: 1200px) {
    .photo-section {
      grid-template: 400px 1fr / 1fr 1fr 1fr;
      grid-template-areas: "main-photo main-photo main-photo";
      padding: 0; } }

.photo-section__item {
  position: relative; }
  @media (max-width: 767px) {
    .photo-section__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #b2b2b2; }
    .photo-section__item:last-child::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #b2b2b2; } }
  @media (min-width: 768px) {
    .photo-section__item {
      background-color: #f2f2f2; } }

@media (min-width: 768px) {
  .photo-section__item--main {
    grid-area: main-photo; } }

@media (min-width: 1200px) {
  .photo-section__item--main {
    height: 400px; } }

.post-container {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  position: relative;
  display: flex;
  flex-direction: column; }
  @media (min-width: 1200px) {
    .post-container {
      font-size: 14px;
      line-height: 26px;
      color: #ffffff; } }

.post-container__photo {
  align-self: center;
  width: 100%;
  height: 280px;
  margin: 20px 0 0 0;
  object-fit: cover; }
  @media (min-width: 768px) {
    .post-container__photo {
      margin: 0; } }

@media (min-width: 1200px) {
  .post-container__photo--main {
    height: 400px; } }

@media (min-width: 1200px) {
  .post-container__info {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.3); } }

.info-container__title {
  margin: 15px 0 0 0; }
  @media (min-width: 768px) {
    .info-container__title {
      margin: 15px 0 0 20px; } }

.info-container__author {
  margin: 5px 0 0 0;
  color: #333333;
  text-transform: none; }
  @media (min-width: 768px) {
    .info-container__author {
      margin: 5px 0 20px 20px; } }
  @media (min-width: 1200px) {
    .info-container__author {
      color: #ffffff; } }

.info-container__likes {
  position: relative;
  display: block;
  margin: 10px 0 20px 35px;
  font-weight: bold; }
  .info-container__likes::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -35px;
    width: 25px;
    height: 25px;
    background-image: url(../image/like.svg);
    background-repeat: no-repeat;
    background-position: 0 0; }
  @media (min-width: 768px) {
    .info-container__likes {
      position: absolute;
      bottom: 0px;
      right: 20px;
      margin: 10px 0 25px 35px; } }
  @media (min-width: 1200px) {
    .info-container__likes {
      right: 30px; } }
  @media (min-width: 1200px) {
    .info-container__likes::before {
      background-image: url(../image/like--desktop.svg); } }

.video-presentation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  @media (min-width: 768px) {
    .video-presentation {
      padding: 0 40px 0 40px; } }

.video-presentation__title {
  margin: 25px 10px 0 10px;
  font-size: 16px; }
  @media (min-width: 768px) {
    .video-presentation__title {
      margin: 40px 20px 0 20px;
      font-size: 24px; } }

.video-presentation__text {
  margin: 20px 10px 0 10px; }
  @media (min-width: 768px) {
    .video-presentation__text {
      margin: 30px 20% 0 20%; } }

.video-presentation__container {
  width: 100%;
  height: 200px;
  margin: 25px 0 0 0;
  background-color: #d6d6d6; }
  @media (min-width: 768px) {
    .video-presentation__container {
      margin: 35px 0 0 0;
      height: 300px; } }

.form {
  display: grid;
  grid-template: 1fr / 1fr; }
  @media (min-width: 768px) {
    .form {
      grid-template: 1fr / 50% 50%;
      grid-template-areas: "impression name" "contact contact" "attraction attraction" "emotions emotions" "button button"; } }

.form-item {
  position: relative; }
  .form-item::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #b2b2b2; }
  @media (min-width: 768px) {
    .form-item::before {
      content: none; } }

@media (min-width: 768px) {
  .form-item--name {
    grid-area: name; }
    .form-item--name::before {
      content: "";
      position: absolute;
      top: 20px;
      left: 0px;
      width: 1px;
      height: 80%;
      background-color: #b2b2b2; } }

@media (min-width: 768px) {
  .form-item--contact {
    grid-area: contact; } }

@media (min-width: 1200px) {
  .form-item--contact {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-template-areas: "title title" ". ."; } }

@media (min-width: 768px) {
  .form-item--impression {
    grid-area: impression; } }

@media (min-width: 768px) {
  .form-item--attraction {
    grid-area: attraction;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    grid-template-areas: "title title" ". ." ". ."; } }

@media (min-width: 1200px) {
  .form-item--attraction {
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    grid-template-areas: "title title title title" ". . . ."; } }

@media (min-width: 768px) {
  .form-item--emotions {
    grid-area: emotions; } }

@media (min-width: 768px) {
  .form-item--button {
    grid-area: button; } }

.form-item__title {
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  margin: 20px 0 0 0;
  text-align: center; }

@media (min-width: 1200px) {
  .form-item__title--contact {
    grid-area: title; } }

.form-item__title--contact,
.form-item__title--emotions,
.form-item__title--attraction {
  margin-left: 20px; }
  @media (min-width: 768px) {
    .form-item__title--contact,
    .form-item__title--emotions,
    .form-item__title--attraction {
      position: relative;
      margin-left: 0; }
      .form-item__title--contact::before,
      .form-item__title--emotions::before,
      .form-item__title--attraction::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 40px;
        width: 16%;
        height: 1px;
        background-color: #b2b2b2;
        transform: translateY(-50%); }
      .form-item__title--contact::after,
      .form-item__title--emotions::after,
      .form-item__title--attraction::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 40px;
        width: 16%;
        height: 1px;
        background-color: #b2b2b2;
        transform: translateY(-50%); } }

@media (min-width: 768px) {
  .form-item__title--attraction {
    grid-area: title; } }

.input-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 20px 20px; }
  @media (min-width: 768px) {
    .input-container {
      margin: 20px 40px 20px 40px; } }

.input-container--contact {
  position: relative;
  flex-wrap: wrap; }
  .input-container--contact::before {
    content: "";
    position: absolute;
    top: 36px;
    right: 0px;
    width: 58px;
    height: 58px;
    background-color: #e6e6e6; }
  @media (min-width: 1200px) {
    .input-container--contact {
      flex-direction: row;
      flex-wrap: nowrap; }
      .input-container--contact::before {
        top: 10px; } }

.input-container--phone::after,
.input-container--mail::after {
  content: "";
  position: absolute;
  top: 56px;
  right: 18px;
  width: 20px;
  height: 20px;
  background-position: 0 0;
  background-repeat: no-repeat; }

@media (min-width: 1200px) {
  .input-container--phone::after,
  .input-container--mail::after {
    top: 30px; } }

.input-container--phone::after {
  background-image: url("../image/phone.svg"); }

.input-container--mail::after {
  background-image: url("../image/mail.svg"); }

.input-container--choice {
  justify-content: flex-start; }

.input-container__label {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  position: relative;
  align-self: center;
  margin: 0 15px 0 0; }

.input-container__label--contact {
  margin: 0 0 0 20px; }
  @media (min-width: 1200px) {
    .input-container__label--contact {
      margin: 0 20px 0 0; } }

.input-container__label--choice {
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  order: 2;
  margin: 0;
  font-weight: bold;
  text-transform: none; }

.input-container__input {
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  display: block;
  max-height: 58px;
  border: none;
  padding: 16px 20px 16px 20px;
  background-color: #f2f2f2;
  font-weight: bold; }
  .input-container__input:hover {
    transition: background-color 0.2s;
    background-color: #e5e5e5; }

.input-container__input--contact,
.input-container__input--textarea,
.input-container__input--name {
  width: 100%; }
  .input-container__input--contact:focus,
  .input-container__input--textarea:focus,
  .input-container__input--name:focus {
    outline: 4px solid #e5e5e5;
    background-color: #ffffff; }

.input-container__input--contact {
  margin: 10px 0 0 0;
  padding-right: 65px; }

.input-container__input--choice {
  order: 1;
  margin-right: 30px; }

.input-container__input--textarea {
  width: 100%;
  max-height: 160px;
  height: 160px;
  resize: none; }

.input-container__input--radio,
.input-container__input--checkbox {
  opacity: 0; }

.input-container__label--radio {
  position: relative;
  margin-bottom: 30px; }
  .input-container__label--radio::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f2f2f2; }
  .input-container__label--radio::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -37px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #333333; }

.input-container__label--checkbox {
  position: relative;
  margin-bottom: 15px; }
  .input-container__label--checkbox::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -50px;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    background-color: #f2f2f2; }
  .input-container__label--checkbox::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -34px;
    height: 12px;
    width: 7px;
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-radius: 10%;
    transform: rotate(45deg); }

.input-container__input--radio:hover + .input-container__label--radio::before,
.input-container__input--checkbox:hover + .input-container__label--checkbox::before {
  transition: background-color 0.2s;
  background-color: #e5e5e5; }

.input-container__input--radio + .input-container__label--radio::after,
.input-container__input--checkbox + .input-container__label--checkbox::after {
  content: none; }

.input-container__input--radio:checked + .input-container__label--radio::after,
.input-container__input--checkbox:checked + .input-container__label--checkbox::after {
  content: ""; }

.input-container__help {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  display: none; }
  @media (min-width: 768px) {
    .input-container__help {
      display: block; } }

@media (max-width: 1199px) {
  .input-container--attraction:nth-child(2n) {
    margin-left: 150px; } }

@media (min-width: 1200px) {
  .input-container--attraction {
    margin-left: 0;
    margin: 20px 35px 20px 35px; } }

.input-container--button {
  display: flex;
  justify-content: space-between;
  align-items: center; }
